<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <% include templates/header.ejs %>
    <h3>About Us</h3>
    <p>Hi my name is <%= name %>; i come from Kilifornia.</p>
</body>
</html>